
  <script src="http://localhost:35729/livereload.js"></script>
  <script src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
  <script src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
  <script>
    $.init();
    $.config = {
      swipePanel: 'left'
    };
  </script>
  <script src="/dist/js/index.js"></script>
</body>
</html>
