<% include ./header %>

<div class="page-group">
  <div class="page">

    <header class="bar bar-nav">
    <button class="button button-link button-nav pull-left">
      <span class="icon icon-menu open-panel"></span>
      &nbsp;&nbsp;&nbsp;&nbsp;我的课程
    </button>
  </header>

    <div class="content">
      <div class="card">
        <div class="card-header">卡头</div>
        <div class="card-content">
          <div class="card-content-inner">
            hello
          </div>
        </div>
        <div class="card-footer">卡脚</div>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-left panel-cover theme-dark" id='panel-left-demo'>
  <div class="content-block">
    <h2>白航</h2>
    <p>unique_xiaobai@163.com</p>
  </div>
  <div class="list-block">
    <ul>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">我的课程</div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">我的视频</div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">发现课程</div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">我的设置</div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">提交反馈</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-right panel-reveal">
  <div class="content-block">
    <p>这是一个侧栏</p>
    <!-- Click on link with "close-panel" class will close panel -->
    <p><a href="#" class="close-panel">关闭</a></p>
  </div>
</div>

<% include ./footer %>
