<% include ./header %>

<div class="page-group">
  <div class="page">

    <header class="bar bar-nav">
      <h1 class="title">初始化项目</h1>
    </header>

    <div class="content">
      <div class="card">
        <div class="card-header">卡头</div>
        <div class="card-content">
          <div class="card-content-inner">
            hello
          </div>
        </div>
        <div class="card-footer">卡脚</div>
      </div>
    </div>

    <nav class="bar bar-tab">
      <a class="tab-item external active" href="#">
        <span class="icon icon-home"></span>
        <span class="tab-label">文案</span>
      </a>
      <a class="tab-item external" href="#">
        <span class="icon icon-me"></span>
        <span class="tab-label">文案</span>
        <span class="badge">2</span>
      </a>
      <a class="tab-item external" href="#">
        <span class="icon icon-star"></span>
        <span class="tab-label">文案</span>
      </a>
      <a class="tab-item external" href="#">
        <span class="icon icon-cart"></span>
        <span class="tab-label">文案</span>
      </a>
      <a class="tab-item external" href="#">
        <span class="icon icon-settings"></span>
        <span class="tab-label">文案</span>
      </a>
    </nav>

  </div>
</div>

<% include ./footer %>
