<% include ./header %>

<div class="signin">
  <div class="weui_cells_title">登录</div>

  <div class="weui_toptips weui_warn js_tooltips"></div>

  <div class="weui_cells weui_cells_form">
    <div class="weui_cell">
      <div class="weui_cell_hd">
        <label class="weui_label">用户名</label>
      </div>
      <div class="weui_cell_bd weui_cell_primary">
        <input id="username" class="weui_input" type="text" placeholder="User Name">
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_hd">
        <label class="weui_label">密码</label>
      </div>
      <div class="weui_cell_bd weui_cell_primary">
        <input id="password" class="weui_input" type="password" placeholder="Password">
      </div>
    </div>
  </div>

  <div class="weui_btn_area weui_btn_area_inline">
    <a class="weui_btn weui_btn_default" href="javascript:">取消</a>
    <a id='submitBtn' class="weui_btn weui_btn_primary" href="javascript:">确定</a>
  </div>
</div>

<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx859a586800c080a4&redirect_uri=http%3A%2F%2Fedx.tunnel.2bdata.com%2Fauth_wechat&response_type=code&scope=snsapi_base&state=xiaobai#wechat_redirect" class="weui_btn weui_btn_primary">使用微信登录</a>

<script>
  $(function() {
    var $username = $('#username');
    var $password = $('#password');
    var $submitBtn = $('#submitBtn');
    var $js_tooltips = $('.js_tooltips');

    $submitBtn.on('click', function() {
      if($username.val().trim() === '' || $password.val().trim() === '') {
        $js_tooltips.text('不能为空');
        $js_tooltips.show();
        setTimeout(function() {
          $js_tooltips.hide();
        }, 2000);
      } else {
        $.post('/signin', { username: $username.val(), password: $password.val() }, function(err, status) {
          if(err) {
            $js_tooltips.text('提交失败');
            $js_tooltips.show();
            setTimeout(function (){
              $js_tooltips.hide();
            }, 2000);
          }
        });
      }
    });
  });
</script>

<% include ./footer %>
