<% include ./header %>

<div class="weui-tab">
  <div class="weui-tab__panel">
    <% courses.forEach(function(course) { %>
      <div class="weui-panel">
        <div class="weui-panel__bd">
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg weui-media-box_appmsg--patch">
            <div class="weui-media-box__hd weui-media-box__hd--patch">
              <img class="weui-media-box__thumb" src="http://x.edustack.org<%= course.media.course_image.uri %>" alt="">
            </div>
            <div class="weui-media-box__bd weui-media-box__bd--patch">
              <p class="weui-media-box__desc weui-media-box__desc--patch"><%= course.org %></p>
              <h4 class="weui-media-box__title"><%= course.name %></h4>
              <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">starting Soon</li>
              </ul>
              <p class="weui-media-box__desc">Starts: <%= course.start_display %></p>
            </div>
          </a>
        </div>
      </div>
    <% }) %>
  </div>

  <div class="weui-tabbar">
    <a href="/" class="weui-tabbar__item weui-bar__item_on">
      <img src="/img/tab_bar/find_courses_on.png" alt="" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">发现课程</p>
    </a>
    <a href="/my_courses" class="weui-tabbar__item">
      <img src="/img/tab_bar/my_courses.png" alt="" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">我的课程</p>
    </a>
    <a href="/settings" class="weui-tabbar__item">
      <img src="/img/tab_bar/settings.png" alt="" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">设置</p>
    </a>
  </div>
</div>

<% include ./footer %>
